@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        A dangerous maze.
    </div>
    <svg width="640" height="640" xmlns="http://www.w3.org/2000/svg">
        <g>
            @foreach(var m in Maze.MakeMeAMaze)
            {
                <line x1="@m.Item1.Item1" y1="@m.Item1.Item2" x2="@m.Item2.Item1" y2="@m.Item2.Item2" stroke-width="5" stroke="#000000" fill="none" />
            }
        </g>
    </svg>
</body>
</html>
